.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;

  &__arrows,
  &__ring-rotate,
  &__ring-stroke,
  &__tick {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__arrows {
    animation-name: arrows42;
    transform: rotate(45deg);
    transform-origin: 16px 52px;
  }

  &__ring-rotate,
  &__ring-stroke {
    transform-origin: 80px 80px;
  }

  &__ring-rotate {
    animation-name: ringRotate42;
  }

  &__ring-stroke {
    animation-name: ringStroke42;
    transform: rotate(-45deg);
  }

  &__tick {
    animation-name: tick42;

    &:nth-child(2) {
      animation-delay: -1.75s;
    }

    &:nth-child(3) {
      animation-delay: -1.5s;
    }

    &:nth-child(4) {
      animation-delay: -1.25s;
    }

    &:nth-child(5) {
      animation-delay: -1s;
    }

    &:nth-child(6) {
      animation-delay: -0.75s;
    }

    &:nth-child(7) {
      animation-delay: -0.5s;
    }

    &:nth-child(8) {
      animation-delay: -0.25s;
    }
  }
}

@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {
  from,
  to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }
  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {
  from,
  3%,
  47%,
  to {
    stroke-dashoffset: -12;
  }
  14%,
  36% {
    stroke-dashoffset: 0;
  }
}

.load-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
}

.btn-loading {
  align-items: center;
  background-image: linear-gradient(144deg, #212121, #e81cff 50%, #40c9ff);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;

  &:active,
  &:hover {
    outline: 0;
  }

  span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    transition: 300ms;
  }

  &:hover span {
    background: none;
  }

  &:active {
    transform: scale(0.9);
  }
}
