.tab-navigator-info input {
  display: none;
}

.tab-navigator-info {
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin-bottom: 1rem;
}

.tab-navigator-info label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
  user-select: none;
}

.selection-info {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.tab-navigator-info .label-info:has(input:checked) {
  color: #fff;
}

.tab-navigator-info .label-info:has(input:checked) ~ .selection-info {
  background-color: #e81cff;
  display: inline-block;
}

.tab-navigator-info .label-info:nth-child(1):has(input:checked) ~ .selection-info {
  transform: translateX(calc(var(--container_width) * 0 / 2));
}

.tab-navigator-info .label-info:nth-child(2):has(input:checked) ~ .selection-info {
  transform: translateX(calc(var(--container_width) * 1 / 2));
}

.tab-navigator-map input {
  display: none;
}

.tab-navigator-map {
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin-bottom: 1rem;
}

.tab-navigator-map label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
  user-select: none;
}

.selection-map {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 2);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.tab-navigator-map .label-map:has(input:checked) {
  color: #fff;
}

.tab-navigator-map .label-map:has(input:checked) ~ .selection-map {
  background-color: #e81cff;
  display: inline-block;
}

.tab-navigator-map .label-map:nth-child(1):has(input:checked) ~ .selection-map {
  transform: translateX(calc(var(--container_width) * 0 / 2));
}

.tab-navigator-map .label-map:nth-child(2):has(input:checked) ~ .selection-map {
  transform: translateX(calc(var(--container_width) * 1 / 2));
}
